@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 0.8333333333vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width:991px) {
  html {
    font-size: 1.3333334vw;
  }
}

@media (max-width:600px) {
  html {
    font-size: 4.102564103vw;
  }
}

a,
li {
  all: unset;
  cursor: pointer;
}

.container {
  padding: 0 5rem;
}

.header {
  padding: 2rem 0;
}

.header .col-1 {
  width: 20%;
}

.header .col-1 .logo {
  width: 100%;
}

.header .col-1 .logo img {
  width: 100%;
}

.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .wrapper .col-2 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
}

.header .contact-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .contact-links .icon {
  width: 2rem;
  height: 2rem;
}

.header .contact-links .icon img {
  width: 100%;
}

.header .contact-links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar .wrapper ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar .wrapper ul li {
  padding: 0.5rem 0.8rem;
  background: #808080;
  color: #fff;
}

.navbar .wrapper ul li:nth-child(1) {
  background: #51b948;
}

/* Slider  */

.hero-slider .slide img {
  width: 100%;
}

.hero-slider .slick-track {
  display: flex;
}

.hero-slider .slick-prev:before,
.hero-slider .slick-next:before {
  font-size: 5rem;
}

.hero-slider .slick-next, .hero-slider .slick-prev{
  width: 5rem;
  height: 5rem;
  z-index: 2;
}

.hero-slider .slick-next{
  right: 0;
}

.hero-slider .slick-prev{
  left: 0;
}